 <header class="container">
  <div class="row">
    <figure class="col-xs-12 col-sm-3">
      <img src="../../../../assets/LogoSccon.svg" alt="logo da sccon"/>
    </figure>
    <nav class="col-xs-12 col-sm-9">
      <ul>
        <li><a (click)="redirect('#')">Home</a></li>
        <li>
          <app-dropdown title="Endereços" [menuDropdown]= menuDrop></app-dropdown>
        </li>
      </ul>

      <!-- <button mat-button>Home</button> -->
      <!-- <button mat-button [matMenuTriggerFor]="menu">Endereços</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Buscar Cep</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu> -->
    </nav>
  </div>
</header>
